<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="remote" connectionString="Data Source=192.129.253.236,1445;Initial Catalog=JFW;User ID=dba3;Password=123456;"/>
		<add name="default" connectionString="Data Source=.;Initial Catalog=DevJFW;Integrated Security=True"/>
	</connectionStrings>
</configuration>